#battery-voltage {
  top: 54.4vh;
  background-color:#333;
  padding-top: 10px;
  text-align: center;
}
#battery-voltage p {
  font: 18px sans-serif;
  color: white;
}
.gauge-container {
  width: 150px;
  height: 150px;
  display: block;
  padding: 10px;
}
.gauge-container > .gauge > .dial {
  stroke: #222;
  stroke-width: 3;
  fill: rgba(0,0,0,0);
}
.gauge-container > .gauge > .value {
  stroke: rgb(47, 227, 255);
  stroke-width: 3;
  fill: rgba(0,0,0,0);
}
.gauge-container > .gauge > .value-text {
  fill: white;
  font-family: Arial;
  font-size: 20px;
}

#total-power {
  top: 54.4vh;
  left: 8.93vw;
  background-color:#333;
  padding-top: 10px;
  text-align: center;
}
#total-power p {
  font: 18px sans-serif;
  color: white;
}
.gauge-container.two {
  width: 150px;
  height: 150px;
  display: block;
  padding: 10px;
}
.gauge-container.two > .gauge > .dial {
  stroke: #222;
  stroke-width: 3;
  fill: rgba(0,0,0,0);
}
.gauge-container.two > .gauge > .value {
  stroke: rgb(47, 227, 255);
  stroke-width: 3;
  fill: rgba(0,0,0,0);
}
.gauge-container.two > .gauge > .value-text {
  fill: white;
  font-family: Arial;
  font-size: 20px;
}

#front-left-power {
  top: 54.4vh;
  left: 17.5vw;
  background-color:#333;
  padding-top: 10px;
  text-align: center;
}
#front-left-power p {
  font: 16px sans-serif;
  color: white;
}
.gauge-container.three {
  width: 150px;
  height: 110px;
  display: block;
  padding: 10px;
}
.gauge-container.three > .gauge > .dial {
  stroke: #222;
  stroke-width: 3;
  fill: rgba(0,0,0,0);
}
.gauge-container.three > .gauge > .value {
  stroke: rgb(47, 227, 255);
  stroke-width: 3;
  fill: rgba(0,0,0,0);
}
.gauge-container.three > .gauge > .value-text {
  fill: white;
  font-family: Arial;
  font-size: 20px;
}

#back-left-power {
  top: 75vh;
  left: 17.5vw;
  background-color:#333;
  padding-top: 10px;
  text-align: center;
}
#back-left-power p {
  font: 16px sans-serif;
  color: white;
}
.gauge-container.four {
  width: 150px;
  height: 110px;
  display: block;
  padding: 10px;
}
.gauge-container.four > .gauge > .dial {
  stroke: #222;
  stroke-width: 3;
  fill: rgba(0,0,0,0);
}
.gauge-container.four > .gauge > .value {
  stroke: rgb(47, 227, 255);
  stroke-width: 3;
  fill: rgba(0,0,0,0);
}
.gauge-container.four > .gauge > .value-text {
  fill: white;
  font-family: Arial;
  font-size: 20px;
}
